# This file is used to define environment variables for the frontend application.
# It is recommended to copy this file to .env and fill in the required values.
# This file should not be committed to version control.
# The .env file is used to set environment variables for the Vite application.
# The values in this file will override the default values in vite.config.js.
# The .env file should be placed in the root of the frontend service directory.

# docker-compose will set this to the backend service name
VITE_API_BASE_URL=http://bf-backend:8080/api
VITE_GA_MEASUREMENT_ID=G-XXXXXXXX